.menu-toggle {
  display: none;
  position: fixed;
  top: 4.5rem;
  left: 0rem;
  z-index: 1100;
  background-color: #0a79e0;
  color: rgb(35, 197, 21);
  border: none;
  font-size: 1.8rem;
  padding: 0rem 0.4rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px;
    width: 220px;
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .sidebar.open {
    left: 0;
  }

  .sidebar.collapsed {
    left: -250px;
  }

  .dashboard-main {
    padding: 1rem;
    margin-left: 0 !important;
  }
}
