/* components/Navbar.css */
.navbar {
  background: #0a79e0;
  color: white;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(252, 249, 249);
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #f0c040;
}

.logout-btn {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #2e3a59;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 180px;
    padding: 10px;
    border-radius: 5px;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
.navbar .nav-links a {
  padding: 10px;
}

