body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.App {
  text-align: center;
}
input {
  padding: 10px;
  margin: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
  background-color: #004080;
  color: white;
  border: none;
  cursor: pointer;
}

.logout-btn {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #003366;
}

